$color-sun: #FC0 ;
$color-sun-bis: darken($color-sun, 10%);
$color-water: #0CF;
$color-water-bis: darken($color-water, 10%),
$color-tree: #0C0;
$color-tree-bis: darken($color-tree, 10%),

.parent{
  
}
:root{
    --sun-color: #($color-sun);
    --sun-color-bis: #($color-sun-bis);
    --water-color: #($water-color);
    --water-color-bis: #($color-water-bis);
    --tree-color: #($color-tree);
    --tree-color-bis: #($color-tree-bis);
    --color: #ccc;
    --color-bis: #999;
    --p-size: #1rem;

}
  
}
.item{
  background:var(--color);
  margin: calc(var(--p-size)) /2;
  padding:var(--p-size) ;
}