body {
  background: rgb(248, 113, 113);
}
.mainHeader {
  &__nav {
    ul {
      //: comportement par defaut , que la souris soit ou pas dessus
      display: flex;
      transition: all .4s;
      gap: 1rem;
      position: fixed; //bloquer la position dans l'écran
      inset: 0 ;
      inset-inline: 100vw -100vw; // sortir le contenu de l'écran droite
      margin: 0; //marge par défaut à contrerç
      li {
        display: flex; //pour le first letter
        list-style: none;
        padding: 1rem; // marge
        border: 1px solid black; // bordure

        ::first-letter {
          text-transform: capitalize; // premiere lettre en Majuscule
        }
        
      }
      @media screen and (max-width: 40rem) {
        padding: 0;
        background: red;
        border: 1px solid black;
        flex-direction: column;
        text-align: end;
      }
    }
  }
}
.trigger_menu {
    position: fixed;

    z-index: 1; // niveau de calque comme photoshop ( mettre un calque au dessu)
    inset-inline-start: auto;
    inset-inline-end: 0;
    width: 2rem;// largeur
    height: 2rem;//hauteur
    margin: 0; // marge
    appearance: none;
    border: 1px solid #000;
    &:checked {
        background: #000;
        & ~ ul {
            inset: 0;
            border: 1px solid #fff;
        }
    }
}